<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DIY_Drums.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DIY_Drums.Config>
            <setting name="A0" serializeAs="String">
                <value />
            </setting>
            <setting name="A1" serializeAs="String">
                <value />
            </setting>
            <setting name="A2" serializeAs="String">
                <value />
            </setting>
            <setting name="A3" serializeAs="String">
                <value />
            </setting>
            <setting name="A4" serializeAs="String">
                <value />
            </setting>
            <setting name="A5" serializeAs="String">
                <value />
            </setting>
            <setting name="Com" serializeAs="String">
                <value />
            </setting>
            <setting name="Driver" serializeAs="String">
                <value />
            </setting>
        </DIY_Drums.Config>
    </userSettings>
</configuration>